body {
	margin: 0;
	font-family: "Arial", sans-serif;
}

#background {
	background: url('http://i.ytimg.com/vi/C9CiHQZg-Zk/maxresdefault.jpg') no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	width: 100%; height: 100%;
	position: absolute;
	z-index: 2;
	filter: blur(50px);
	-webkit-filter: blur(3px);
}

#content {
	background: url('./img/bg-repeat.png') transparent repeat;
	width: 100%; height: 100%;
	min-width: 1000px; 
	position: absolute;
	z-index: 3;
}

#menu {
	position: absolute;
	width: 326px; height: 326px;
	/*left: 50%; top: 50%;
	transform: translate(-50%, -50%);*/
	/*left: 700px;top: 200px;*/
	z-index: 10;
}

#menu_circleBg {	
	background: rgba(255,255,255,0.7);
	width: 80%; height: 80%;
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border: 8px solid #4CD964;
}

#menu_depart{
	
width: 326px; height: 326px;
left: 0px;top: 0px;
	
}

#work {	
	position: absolute;
	display: block;
	transition: all 0.5s ease;
}

#work:hover {
	transform: scale(1.05);
}

#about {
	position: absolute;
	display: block;
	left: 171px;
	transition: all 0.5s ease;
}

#menu_new{
	transform:scale(0.5);
	position: absolute;
	display: block;
	left: 500px;top: 80px;
	transition: all 0.5s ease;
}

#about:hover {
	transform: scale(1.05);
}

#contact {
	position: absolute;
	display: block;
	top: 224px; left: 28px;
	transition: all 0.5s ease;

}

#contact:hover {
	transform: scale(1.05);
}

#logo{
	position: relative;
	left: 50%;top: 50%;
	transform:translate(-50%,-50%);
	width: auto; height: 130px;	
	cursor: pointer;
	
}


/* --------------- */
#social {
	width: 300px; height: 100%;
	position: absolute;
	background: rgba(0,0,0,0.8);
	margin-left: 25px;
	z-index: 5;
}

#social h1 {
	font-weight: bold;
	color: #4CD964;
	text-align: center;
	position: absolute;
	padding-top: 10px;
	margin: 0 0 10px 0;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background: rgba(0,0,0,0.6);
	width: 300px; height: 50px;
	z-index: 11;
}

#social_content {
	position: absolute;
	margin: 0 0 0 0px;
	top: 65px;
	height: 75%;
	width: 300px;
	padding-right: 5px;
	z-index: 10;
}

.twitter-timeline {
	position: absolute;
	height: 85%;
	opacity: 0.5;
	left: 10px;
	transition: opacity 1s ease;
}

.twitter-timeline:hover {
	opacity: 0.9;
}

.fb-like {
	padding-top: 5px; 
	padding-left: 7px;
	padding-right: 10px;
	margin-bottom: 7px;
	width: 283px; height: 65px;
	background-color: rgba(59, 89, 152, 0.5);
	transition: all 1s ease;
}

.fb-like:hover {
	background-color: rgba(59, 89, 152, 0.8);
}

#instagram {
	display: block;
	width: 260px; height: 42px;
	background-color: rgba(149,109,83,0.4);
	vertical-align: middle;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	padding-left: 40px;
	padding-top: 5px;
	margin-top: 3px;
	transition: all 1s ease;
}

#instagram:hover {
	background-color: rgba(149,109,83,0.7);
}

#insta-content {
	position: absolute;
	font-size: 25px;
	margin-top: 5px;
	margin-left: 20px;
}

.back img{
width: 50px;height: 50px;
}

.back{
	background-color: white;
	position: absolute;
	left: 600px;top: 0px;
	cursor: pointer;
}

/* PAGE ARRIVANTE */

#work_page {
	position: absolute;
	width: 1000px;height: 100%;
	background-color: white;
	color: black;
	z-index: 50;
	left: 38%;
	visibility: hidden;
}


#about_page {
	position: absolute;
	width: 1000px;height: 100%;
	background-color: white;
	color: black;
	z-index: 50;
	left: 38%;
	visibility: hidden;
}

#contact_page {
	position: absolute;
	width: 1000px;height: 100%;
	background-color: white;
	color: black;
	z-index: 50;
	left: 38%;
	visibility: hidden;
}

#work_page_new {
	position: absolute;
	width: 1000px;height: 100%;
	background-color: white;
	color: black;
	z-index: 50;
	left: 38%;
	visibility: visible;
}


#about_page_new {
	position: absolute;
	width: 1000px;height: 100%;
	background-color: white;
	color: black;
	z-index: 50;
	left: 38%;
	visibility: visible;
}

#contact_page_new {
	position: absolute;
	width: 1000px;height: 100%;
	background-color: white;
	color: black;
	z-index: 50;
	left: 38%;
	visibility: visible;
}


