#content {
	min-width: 1200px;
}

#menu {
	position: absolute;
	width: 326px; height: 326px;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

#work {
	position: absolute;
	display: block;
}

#about {
	position: absolute;
	display: block;
	left: 171px;
}

#contact {
	position: absolute;
	display: block;
	top: 224px; left: 28px;
}

#social {
	width: 200px; height: 600px;
	position: absolute;
	background: red;
}

#logo{
	position: absolute;
	left: 50%;top: 50%;
	transform:translate(-50%,-50%);
	width: auto; height: 165px;	
}